input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked),
input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
    width: 1px;
    height: 1px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    -webkit-opacity: 0;
    opacity: 0;
    position: absolute;
    clip: rect(0px, 0px, 0px, 0px);
    -moz-appearance: none;
    -webkit-appearance: none;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    float: left;
    padding-left: 2.6rem;
    margin-right: 1.6rem;
    position: relative;
    cursor: pointer;
    top: 17px;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -0.9rem;
    width: 1.1rem;
    height: 1.1rem;
    -webkit-box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.3) inset, 0px 0px 0px 0.1rem rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.3) inset, 0px 0px 0px 0.1rem rgba(0, 0, 0, 0.1) inset;
    -webkit-border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
}

input[type="radio"] + label:before {
    -webkit-border-radius: 0.8rem 0.8rem 0.8rem 0.8rem;
    border-radius: 0.8rem 0.8rem 0.8rem 0.8rem;
}

input + label:after {
    -o-transition: transform 0.2s ease-in-out 0s;
    -webkit-transition: transform 0.2s ease-in-out 0s;
    transition: transform 0.2s ease-in-out 0s;
}

.choices-border input[type="checkbox"] + label:after {
    content: "";
    position: absolute;
    left: 0.4rem;
    top: 50%;
    margin-top: -0.4rem;
    width: 1.4rem;
    height: 0.6rem;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: blue;
    border-right-color: blue;
    border-bottom-color: blue;
    border-left-color: blue;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0.2rem;
    border-left-width: 0.3rem;
    -webkit-box-shadow: -0.1rem 0.1rem 0.1rem 0px rgba(0, 0, 0, 0.4);
    box-shadow: -0.1rem 0.1rem 0.1rem 0px rgba(0, 0, 0, 0.4);
}

.choices-border input[type="checkbox"] + label:after {
    transform: rotate(-40deg) skewX(-30deg) scale(0);
    -o-transform-origin: 0px 100% 0px;
    -webkit-transform-origin: 0px 100% 0px;
    transform-origin: 0px 100% 0px;
}

.choices-border input[type="checkbox"]:checked + label:after {
    transform: rotate(-40deg) skewX(-30deg) scale(1);
}

.choices-border input[type="checkbox"]:checked + label:hover:after {
    transform: rotate(-40deg) skewX(-30deg) scale(1.3);
}

input[type="radio"] + label:after {
    content: "";
    position: absolute;
    left: 0.13rem;
    top: 50%;
    margin-top: -0.78rem;
    width: 0.8rem;
    height: 0.8rem;
    background-color: blue;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    -webkit-box-shadow: 0px 0.1rem 0.2rem rgba(255, 255, 255, 0.6) inset, 0px -0.1rem 0.1rem 0px rgba(0, 0, 0, 0.5) inset, 0px 0px 0.3rem black;
    box-shadow: 0px 0.1rem 0.2rem rgba(255, 255, 255, 0.6) inset, 0px -0.1rem 0.1rem 0px rgba(0, 0, 0, 0.5) inset, 0px 0px 0.3rem black;
    transform: scale(0);
}

input[type="radio"] + label.correct:after {
    background-color: green;
}

input[type="radio"] + label.incorrect:after {
    background-color: red;
}

.choices-border input[type="checkbox"] + label.incorrect:after {
    border-top-color: red;
    border-right-color: red;
    border-bottom-color: red;
    border-left-color: red;
}

.choices-border input[type="checkbox"] + label.correct:after {
    border-top-color: green;
    border-right-color: green;
    border-bottom-color: green;
    border-left-color: green;
}

span.correct,
div.correct,
img.correct,
select.correct,
textarea.correct,
input[type="checkbox"] + label.attendu:before,
input[type="radio"] + label.attendu:before,
input.correct {
    -webkit-box-shadow: 0px 0.1rem 0.2rem rgba(255, 255, 255, 0.6) inset, 0px 0px 0.3rem 0.15rem green;
    box-shadow: 0px 0.1rem 0.2rem rgba(255, 255, 255, 0.6) inset, 0px 0px 0.3rem 0.15rem green;
}

span.correct,
div.correct,
img.correct,
select.correct,
textarea.correct,
input.correct {
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

span.incorrect,
div.incorrect,
img.incorrect,
select.incorrect,
textarea.incorrect,
input.incorrect {
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0px 0.1rem 0.2rem rgba(255, 255, 255, 0.6) inset, 0px 0px 0.3rem 0.15rem red;
    box-shadow: 0px 0.1rem 0.2rem rgba(255, 255, 255, 0.6) inset, 0px 0px 0.3rem 0.15rem red;
}

input[type="radio"]:checked + label:after {
    transform: scale(1);
}

input[type="radio"]:checked + label:hover:after {
    transform: scale(1.3);
}

input[type="radio"],
input[type="checkbox"] {
    height: 1em;
    width: 1em;
}

#devoir {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-left: 40px;
    width: 700px;
    -webkit-box-shadow: 8px 8px 6px #777777;
    box-shadow: 8px 8px 6px #777777;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #777777;
    border-right-color: #777777;
    border-bottom-color: #777777;
    border-left-color: #777777;
    height: 670px;
    position: relative;
}

input[disabled] {
    background-color: white;
    color: black;
}

textarea[disabled] {
    background-color: white;
    color: black;
}

#entete {
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    position: relative;
    height: 184px;
}

#entete object {
    position: absolute;
    top: -170px;
}

#entete2 {
    display: none;
}

#menu {
    position: absolute;
    top: 125px;
    z-index: 2;
}

#bouton0 {
    background-image: url("../img/home.png");
}

#bouton1 {
    background-image: url("../img/bouton1.png");
}

#bouton2 {
    background-image: url("../img/bouton2.png");
}

#bouton3 {
    background-image: url("../img/bouton3.png");
}

#bouton4 {
    background-image: url("../img/bouton4.png");
}

#bouton5 {
    background-image: url("../img/bouton5.png");
}

#bouton6 {
    background-image: url("../img/bouton6.png");
}

#bouton7 {
    background-image: url("../img/bouton7.png");
}

#bouton8 {
    background-image: url("../img/bouton8.png");
}

#bouton9 {
    background-image: url("../img/bouton9.png");
}

#bouton10 {
    background-image: url("../img/bouton10.png");
}

#bouton11 {
    background-image: url("../img/bouton11.png");
}

#bouton12 {
    background-image: url("../img/bouton12.png");
}

#bouton13 {
    background-image: url("../img/bouton13.png");
}

#bouton14 {
    background-image: url("../img/bouton14.png");
}

#bouton15 {
    background-image: url("../img/bouton15.png");
}

.bouton {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

.bouton:hover {
    background-position: -30px 0px;
}

.bouton:active {
    background-position: -60px 0px;
    top: 1px;
    left: 1px;
}

.question {
    position: absolute;
    z-index: 1;
    width: 700px;
    height: 500px;
    left: 40px;
}

.formulaire {
    position: absolute;
}

#nom {
    z-index: 1;
    width: 197px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    left: 77px;
    position: relative;
    height: 26px;
    top: 34px;
    border-top-style: inset;
    border-right-style: inset;
    border-bottom-style: inset;
    border-left-style: inset;
    -webkit-border-radius: 13px 13px 13px 13px / 18px 18px 18px 18px;
    border-radius: 13px 13px 13px 13px / 18px 18px 18px 18px;
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
    text-align: left;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    resize: none;
}

#prenom {
    z-index: 1;
    width: 198px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    left: 77px;
    position: absolute;
    height: 26px;
    top: 76px;
    border-top-style: inset;
    border-right-style: inset;
    border-bottom-style: inset;
    border-left-style: inset;
    -webkit-border-radius: 13px 13px 13px 13px / 18px 18px 18px 18px;
    border-radius: 13px 13px 13px 13px / 18px 18px 18px 18px;
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
    text-align: left;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    resize: none;
}

#classe {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.2em;
    line-height: 1.5em;
    width: 132px;
    position: absolute;
    height: 28px;
    top: 32px;
    left: 545px;
    -webkit-border-radius: 19px 19px 19px 19px;
    border-radius: 19px 19px 19px 19px;
    background-color: white;
    padding-right: 8px;
    text-align: center;
    color: black;
}

#date {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.2em;
    line-height: 1.5em;
    width: 118px;
    height: 22px;
    top: 43px;
    display: block;
    position: relative;
    left: 546px;
    -webkit-border-radius: 19px 19px 19px 19px;
    border-radius: 19px 19px 19px 19px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

#question0 {
    display: block;
}

#question1 {
    display: none;
}

#question2 {
    display: none;
}

#question3 {
    display: none;
}

#question4 {
    display: none;
}

#question5 {
    display: none;
}

#question6 {
    display: none;
}

#question7 {
    display: none;
}

#question8 {
    display: none;
}

#question9 {
    display: none;
}

#question10 {
    display: none;
}

#question11 {
    display: none;
}

#question12 {
    display: none;
}

#question13 {
    display: none;
}

#question14 {
    display: none;
}

#question15 {
    display: none;
}

.text_eleve {
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    color: blue;
    vertical-align: middle;
    resize: none;
    overflow: hidden;
}

#ecran {
    width: 350px;
    z-index: 10;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    top: 40px;
    position: absolute;
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: black;
    height: 90px;
    left: 375px;
    background-color: #cccccc;
}

#control {
    width: 98%;
    height: 450px;
    margin-left: 5px;
}

#question0:hover {
    display: none;
}

form {}

div {}

#entet_form {
    position: relative;
    width: 700px;
    height: 160px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    z-index: 2;
    top: 0px;
    left: 0px;
}

#entete_form {
    position: relative;
    top: -161px;
}

#entete_devoir {}

#loader {
    position: absolute;
    top: 280px;
    left: 270px;
    -webkit-box-shadow: 3px 3px 5px 1px #666666;
    box-shadow: 3px 3px 5px 1px #666666;
    width: 239px;
    height: 77px;
    padding-top: 1px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: silver;
}

#prof {
    width: 500px;
    border: 2px solid #777;
    margin-right: 10px;
    box-shadow: 8px 8px 6px #777;
    display: none;
    padding: 10px;
    background-color: #AAA;
}

.tooltip:hover::before {
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 15px;
    content: "";
    left: 89%;
    position: relative;
    z-index: 99;
}

.tooltip:hover::after {
    background: #333;
    background: rgba(0, 0, 0, .8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(titre);
    left: 30%;
    top: -45px;
    padding: 5px 15px;
    position: relative;
    z-index: 98;
    width: 220px;
}

.tooltip {
    display: inline;
    position: relative;
}

.selectionne {
    box-shadow: 1px 1px 1px 1px #846F6F;
    border: 1px solid #999;
    border-radius: 5px;
}

textarea.text_eleve {
    overflow: auto;
}

.manuel {
    height: 18px;
    width: 18px;
}

.noteExercice {
    position: absolute;
    width: 75px;
    height: 61px;
    font-size: 24px;
    font-weight: bold;
    color: red;
    font-family: arial;
}

.noteExo {
    position: relative;
    width: 50px;
    height: 35px;
    line-height: 35px;
    background-color: yellow;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    z-index: 2;
}

.noteExoMax {
    position: relative;
    width: 50px;
    height: 35px;
    line-height: 35px;
    background-color: yellow;
    border-radius: 20px;
    top: -10px;
    left: 25px;
    z-index: 1;
    text-align: center;
}

.noteExerciceBarre {
    position: absolute;
    top: 14px;
    width: 20px;
    left: 37px;
    font-size: 45px;
    z-index: 3;
    color: black;
    transform: rotate(50deg);
    height: 28px;
}

#ebauche {
    position: relative;
    left: -40px;
    top: -24px;
    width: 740px;
}

#menuProf h1 {
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 20px;
}

input.partiel,
textarea.partiel {
    box-shadow: 0px 0.1rem 0.2rem rgba(255, 255, 255, 0.6) inset, 0px 0px 0.3rem 0.15rem #FFCF02;
}

#questions div.partiel {
    box-shadow: 0px 0.1rem 0.2rem rgba(255, 255, 255, 0.6) inset, 0px 0px 0.3rem 0.15rem #FFCF02;
}

.zoneDepot {
    border: 1px dashed #999;
}

.dvFocused {
    box-shadow: 0px 0px 1px 2px rgb(136, 187, 221), 0px 0px 2px 0px rgb(102, 170, 238) inset;
}

.dvScience {
    border: 1px solid #999;
    border-radius: 10px;
}

.dvScience img {
    position: relative;
    cursor: pointer;
}

.supp {
    float: right;
    top: -15px;
}


}
.dvMq {
    position: relative;
}
.dvMq:hover {
    background-color: rgb(136, 187, 221);
}
.dvScience .add {
    display: none;
}
.dvScience .aide {
    position: relative;
    float: right;
    right: -17px;
    transform: scale(0.7);
    top: -17px;
    z-index: 10;
}
.dvScience .refresh {
    position: relative;
    float: right;
    right: -25px;
    transform: scale(0.7);
    top: -17px;
    z-index: 10;
}
.dvScience .aide:hover, .dvScience .refresh:hover{
    transform: scale(1);
}
.dvScience .firstAdd {
    position: relative;
    float: right;
    right: -25px;
    transform: scale(0.7);
    top: -17px;
    z-index: 10;
}
.dvScience .firstAdd:hover, .dvScience .refresh:hover{
    transform: scale(1);
}
div.dvDrag:hover {
    box-shadow: 0px 0.1rem 0.2rem rgba(255, 255, 255, 0.6) inset, 0px 0px 0.3rem 0.15rem #FFCF02;
}